.hero {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 2px 2px grey;
  border-radius: 10px;

  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.hero_image {
  border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
  box-shadow: 4px 5px 10px 3px black;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7973783263305322) 8%,
    rgba(232, 72, 85, 0.7861738445378151) 79%
  );
  min-width: 400px;
  min-height: 400px;
  display: flex;
  align-items: center;

  img {
    padding-left: 2em;
    border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
    opacity: 0.9;
    width: 80%;
    object-fit: contain;
  }
  @media (max-width: 850px) {
    width: 50%;
  }
}

.hero_text {
  min-width: 50%;
  height: 50vh;
  margin-left: 8em;
  line-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
  }

  h2 {
    font-family: 'Righteous', cursive;
    letter-spacing: 0.5rem;
    font-size: 5rem;
  }

  .hero_text-services {
    font-size: 2rem;
    font-weight: 600;
    color: var(--sizzling-red);

    span {
      background: #ffffff;
      background-image: linear-gradient(90deg, #ff0707 0%, #e84855 58%);
      color: transparent;
      background-clip: text;
    }
  }

  @media (max-width: 750px) {
    width: 90%;
    margin: auto;
  }
}

.hero_button-group {
  display: flex;
  align-items: center;
  gap: 2em;

  .cta-button {
    margin-top: 1.5em;
    padding: 1.5em;
    @media (max-width: 750px) {
      width: fit-content;
    }
  }

  .cv-button {
    background-color: #e84855c8;
    border: 1px solid transparent;
    color: white;
  }
}
